.aText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  fill: black;
  text-anchor: left;
}



/* font size dependent on radius, see app.js */
.stateText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  fill: #fff;
  text-anchor: middle;
  stroke-width: "0.8";
  font-size: 8px;
}


.d3-tip {
  padding: 6px;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(18, 137, 167, 0.8);
  stroke: #e3e3e3;
  border-radius: 4px;
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
